<div>
  <div class="allNotes">
    <div>
      <div class="span10">
        <div class="row">
          <div>
            <div>

              <div class="notbook-list">
                <div ng-show="!viewModel.isPageView" style="overflow: hidden">
                  <div class="contener notebook-btn" style="float: left">
                    <div class="txt_button" style="float: right;">+Create Notebook</div>
                    <div class="circle">&nbsp;</div>

                  </div>
                  <div class="contener notebook-btn delete-btn" ng-disabled="!notebookList.list.length" ng-click="deleteSelectedNotebooks()">
                    <div class="txt_button">+Delete Notebook</div>
                    <div class="circle">&nbsp;</div>

                  </div>
<!--
                  <button  class="btn btn-danger" ng-disabled="!notebookList.list.length"
                           ng-click="deleteSelectedNotebooks()">Delete
                  </button>-->
                </div>

                <ol>
                  <li ng-show="!viewModel.isPageView" ng-repeat="notebook in notebooks">
                    <a ng-click="changeCurrentNotebook(notebook)">
                      <div class="main-image material" ng-click="handelAccordionCheckBox($event)" ng-init="notebook.index=$index"><input type="checkbox"
                                                                                                         class="box checkbox"
                                                                                                         checklist-model="notebookList.list"
                                                                                                         checklist-value="notebook">
                      </div>
                      <span class="link-title heading">{{notebook._name}}</span> <span class="link-excerpt"><time
                      class="date" datetime="November 12 2012">Nov 12, 2012
                    </time>/ No Comments</span>
                    </a>
                  </li>
                </ol>
              </div>
            </div>
            <div ng-controller="PageCtrl" ng-repeat="notebook in notebooks"
                 ng-if="notebook._id==currentNotebook._id && viewModel.isPageView">
              <div class="navbar navbar-default" style="margin-top:10px;min-height: 0;overflow: hidden">
                <div ng-show="viewModel.isPageView">
                  <button class="btn btn-default btn-primary" ng-click="pageCreate()" style="float: left;"
                          ng-hide="notebook._type=='Syllabus'">Create Page
                  </button>
                  <button class="btn btn-danger" data-title="Delete" style="float: left;margin-left: 10px;"
                          ng-disabled="!notebook.selectedList.length" ng-click="notebook.deleteSelectedPages()"><span
                    class="glyphicon glyphicon-trash"></span> Delete
                  </button>
                  <a href="#" class="prec back-notes" ng-click="goBack()">
                    NoteBooks
                  </a>
                </div>
              </div>

                <div class="notes-accordion page">

                  <ul>
                <li class="block" ng-repeat="page in currentNotebook.page" ng-click="page.isOpen=!page.isOpen" ng-init="page.index=$index">

                  <label for="item1">  <input type="checkbox" class="selector" ng-click="handelAccordionCheckBox($event)"
                                              checklist-model="notebook.selectedList"
                                              checklist-value="page"/></i> {{page._name}} <span>{{page.note.length}}</span></label>
                  <ul class="options" ng-show="page.isOpen" ng-click="handelAccordionCheckBox($event)">
                    <div class="child-note-panel">
                      <div>
                        <button  class="btn btn-default btn-primary" ng-click="noteCreate(page.note)">
                          Create Note
                        </button>
                        <button  class="btn btn-danger" ng-disabled="!page.selectedList.length"
                                 ng-click="page.deleteSelectedNotes()">Delete
                        </button>
                      </div>
                    <notes-widget ng-repeat="notes in page.note" class="maximize" ng-class="{'minimize':!notes.isAccordionExpanded,'maximize':notes.isAccordionExpanded}"></notes-widget>
                      </div>

                  </ul>
                </li>
                    </ul>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-controller="NotebooksCtrl">
    <script type="text/ng-template" id="myModalContent.html">
      <div
      class="modal-header"> <h3 class="modal-title">EnterName</h3> </div>
      <div class="modal-body"> Name: <b><input type="text" ng-model="model.name"/></b></div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div></script>
  </div>
</div>
