<div class="notes-wrapper" transclude-element ng-transclude>
  <notes-icon draggable title="{{notes.name}}"  ng-dblclick="notes.toggle()" posx="notes.windowX" posy="notes.windowY"></notes-icon>
  <div  draggable resizable class="notes-widget inl-blk" text-editor posx="notes.windowX" posy="notes.windowY"  ng-class="{'in-active':!notes.isWindowExpanded,'active':notes.isWindowExpanded}">

    <div class="crud-commands inl-blk"></div>
    <div text-angular ng-model="notes.data" ta-toolbar="[['bold','italics','underline','ul','color','fontsize']]"
    class="richtext-editor"></div>
   <!-- <alert ng-repeat="alert in notes.alerts" close="notes.closeAlert()">Saved SuccessFully</alert>-->
  </div>
</div>
