.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html{
  height: 100%;
}
body{
  height: 100%;
}
.container{
  height:100%;
  position: relative;
}
.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
.btn-group{
 /* &:first-child{
    display: none;
  }*/

}
.inl-blk{
  display: inline-block;
}
.canvas{
  height: 100%;
  width: 100%;
  position: absolute;
}
.notes-widget{
  min-width:378px;
  height: 200px;
  min-height: 200px;
 // transform: scale(0);
  transform-origin: 0% 0%;
  position: absolute;
  .title-text{
    position: absolute;
    z-index: 100;
    top: 36px;
    width: 40%;
    border:0;
    margin: 0 auto;
    margin-left: 20px;
    &:focus {
      outline-width: 0;
    }

  }
  .fontsize{
    .visible{
      display: block !important;
    }
    .no-visible{
      display: none !important;
    }
    .dropdown{
      left: -2px;
      bottom: -1px;
      position: absolute;
      z-index: 999;
    }
    .dropdown-menu{
      height: 100px;
      overflow: scroll;
      min-width: 0;

      border: 0;
    }
  }


  .crud-commands{
    position: absolute;
    top:0;
    right: 0;
    z-index: 2;
  }
  .alert{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
  //  height: 20px;
    font-size: 0.9em;
    //padding-top: 1px;
  }

  transition:transform 0.5s ease-in-out;
}
.notes-widget.active{

  transform: scale(1);
}
.notes-widget.in-active{
  transform: scale(0);

}

.fa-floppy-o{
  color: #54C571;
}
.fa-times{
  color: #C34A2C;
}
/* Styles go here */

.bubble{
  cursor: pointer;
  width:35px;
  height:30px;
  border:2px solid #666;
  border-radius:5px;
  background-color:#FFD801;
  text-align:center;
  box-shadow: 2px 2px 2px #888;
  hr{
    line-height: 1px;
    padding: 0;
    margin: 0 auto;
    height: 2px;
    background: #000;
    margin-top: 5px;
  }

}
.bubble:before{
  content:'';
  width:0;
  height:0;
  border:9px solid;
  position:absolute;
  top: 28px;
  left:8px;
  border-color: #666 transparent transparent #666;

}
.bubble:after{
  content:'';
  width:0;
  height:0;
  border:6px solid;
  position:absolute;
  top: 28px;
  border-color:#FFD801 transparent transparent #FFD801;
  left:10px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.richtext-editor{
  height: 100%;
  .btn-toolbar{
    cursor: pointer;
  }
  background-color:#FFD801;
  .ta-scroll-window > .ta-bind{
    min-height: 200px;
    background-color:#FFD801;

  }
  [type="hidden"]{
    height: 0;
  }
  .ta-editor.ta-html, .ta-scroll-window.form-control{
    min-height: 0;
    background-color:#FFD801;
  }
  .ta-scroll-window > .ta-bind{
    padding-top: 30px;
    min-height: 100%;
  }
  .ta-toolbar{
   height: 35px;
  }
  .ta-scroll-window{
    height: calc(100% - 35px);
  }
  box-shadow: 0px 3px 9px 1px #888;
}
.notes-icon{
  position: absolute;
  top:0;
  left:0;
  z-index: 1000;
}
div[ng-view]{
  height: 100%;
}
.notes-wrapper{
  transition:all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.allNotes{
  .container{
  }
  .notes-wrapper{
    .notes-widget{
      position: relative;
      width: 100%;
      transform: scale(1);
    }
  }
  .child-note-panel{
    .panel-group{
      padding-left: 212px;
      .panel-body{
        .richtext-editor{
          background-color:inherit;
          .ta-scroll-window > .ta-bind{

            background-color:inherit;

          }
          .ta-editor.ta-html, .ta-scroll-window.form-control{
            background-color:inherit;
          }

          box-shadow: none;
        }
        padding: 1px;
        [ng-click="notes.minimize()"]{
          display: none;
        }
      }
    }

  }
.notebook-head.panel-default{
  color: #333333;
  background-color: #f5f5f5;
  border-color: #ddd;
  .current-head{
    float: right;
    h4{
      display: inline-block;
    }
    .btn-default{
      float: right;
    }
    display: inline-block;
    width:500px;
  }

}
}
